.todo-list {
  list-style: none;
  padding: 0;
  min-height: 300px;
}
.todo-item {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.no-list {
  background: #f4f4f4;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  min-height: 300px;
}
